In [1]:
import pandas as pd
import os

In [3]:
print(
    f'{0.343423 * 100 :.2f}'
)

34.34

In [38]:
# load datasets
indeed = pd.read_csv('indeed.csv')
indeed = indeed[indeed.columns.to_list()[1:]]

tamu = pd.read_csv('tamu.csv')
tamu = tamu[tamu.columns.to_list()[1:]]

usa_jobs = pd.read_csv('usa_jobs.csv')
usa_jobs = usa_jobs[usa_jobs.columns.to_list()[1:]]

In [39]:
usa_jobs.rename(columns =dict(
    position_title = "job_title",
    organization = "company_name",
    major_duties = "full_job_description"
), inplace=True)

usa_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_title                   51 non-null     object
 1   position_uri                51 non-null     object
 2   position_apply_uri          51 non-null     object
 3   position_location           51 non-null     object
 4   company_name                51 non-null     object
 5   department                  51 non-null     object
 6   qualifications              51 non-null     object
 7   min_pay                     51 non-null     float64
 8   max_pay                     51 non-null     float64
 9   pay_type                    51 non-null     object
 10  position_offering_type      51 non-null     object
 11  job_category                51 non-null     object
 12  job_summary                 51 non-null     object
 13  agency_marketing_statement  43 non-null     object
 14  full_job_description        51 non-null     object
 15  education                   46 non-null     object
 16  requirements                26 non-null     object
 17  evaluation                  51 non-null     object
 18  key_requirements            51 non-null     object
dtypes: float64(2), object(17)
memory usage: 7.7+ KB

In [33]:
tamu.rename(columns=dict(
    Titles = "job_title",
    Agency = "company_name",
    Description = "full_job_description",
), inplace=True)

tamu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   job_title             1295 non-null   object
 1   URLs                  1295 non-null   object
 2   company_name          1295 non-null   object
 3   Location              1295 non-null   object
 4   Job Category          1295 non-null   object
 5   Salary                1187 non-null   object
 6   Start Date            1295 non-null   object
 7   Last Date to Apply    1295 non-null   object
 8   Website               1295 non-null   object
 9   full_job_description  1295 non-null   object
 10  Qualifications        1295 non-null   object
 11  Contact Person        1295 non-null   object
 12  Contact Phone         1295 non-null   object
 13  Contact Email         1295 non-null   object
dtypes: object(14)
memory usage: 141.8+ KB

In [34]:
tamu = tamu[tamu['Job Category']=="Internships"]
tamu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1165 entries, 1 to 1294
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   job_title             1165 non-null   object
 1   URLs                  1165 non-null   object
 2   company_name          1165 non-null   object
 3   Location              1165 non-null   object
 4   Job Category          1165 non-null   object
 5   Salary                1088 non-null   object
 6   Start Date            1165 non-null   object
 7   Last Date to Apply    1165 non-null   object
 8   Website               1165 non-null   object
 9   full_job_description  1165 non-null   object
 10  Qualifications        1165 non-null   object
 11  Contact Person        1165 non-null   object
 12  Contact Phone         1165 non-null   object
 13  Contact Email         1165 non-null   object
dtypes: object(14)
memory usage: 136.5+ KB

In [35]:
indeed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   job_title             228 non-null    object
 1   company_name          228 non-null    object
 2   company_location      228 non-null    object
 3   job_link              228 non-null    object
 4   job_type              228 non-null    object
 5   salary                228 non-null    object
 6   full_job_description  228 non-null    object
dtypes: object(7)
memory usage: 12.6+ KB

In [36]:
# Create index for each dataframe and consolidate
indeed['source'] = 'indeed'
indeed['source_index'] = indeed.index.to_list()

tamu['source'] = 'tamu'
tamu['source_index'] = tamu.index.to_list()

usa_jobs['source'] = 'usa_jobs'
usa_jobs['source_index'] = usa_jobs.index.to_list()

data = []
for df in [tamu, usa_jobs, indeed]:
    subdf = df[[
        "job_title",
        "full_job_description",
        "company_name",
        "source",
        "source_index"
    ]]
    data.append(subdf)

data = pd.concat(data, axis=0)
data.job_title = data.job_title.str.replace("ACE:","")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1444 entries, 1 to 227
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   job_title             1444 non-null   object
 1   full_job_description  1444 non-null   object
 2   company_name          1444 non-null   object
 3   source                1444 non-null   object
 4   source_index          1444 non-null   int64
dtypes: int64(1), object(4)
memory usage: 67.7+ KB

In [37]:
data.to_csv('combined_source_data.csv', index=False)