In [2]:
import pandas as pd

In [3]:
# Opportunity Sets
texas_am_opportunities = pd.read_excel('texas_am_opportunities.xlsx')
texas_am_opportunities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9308 entries, 0 to 9307
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Titles              9308 non-null   object
 1   URLs                9308 non-null   object
 2   Agency              9308 non-null   object
 3   Location            9308 non-null   object
 4   Job Category        9308 non-null   object
 5   Salary              9094 non-null   object
 6   Start Date          9308 non-null   object
 7   Last Date to Apply  9308 non-null   object
 8   Website             9308 non-null   object
 9   Description         9308 non-null   object
 10  Qualifications      9304 non-null   object
 11  Contact Person      9307 non-null   object
 12  Contact Phone       9305 non-null   object
 13  Contact Email       9308 non-null   object
dtypes: object(14)
memory usage: 1018.2+ KB

In [4]:
indeed_opprotunities = pd.read_csv('indeed.csv')
indeed_opprotunities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1628 entries, 0 to 1627
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             1628 non-null   object
 1   IndeedJobPostURL  1628 non-null   object
 2   Salary            1628 non-null   object
 3   Company           1628 non-null   object
 4   Job Type          1628 non-null   object
 5   Job Description   1628 non-null   object
 6   Phone             1626 non-null   object
 7   Email             1624 non-null   object
 8   OriginalJobLink   1628 non-null   object
 9   Location          1628 non-null   object
dtypes: object(10)
memory usage: 127.3+ KB

In [5]:
texas_am_internships = texas_am_opportunities[texas_am_opportunities['Job Category'].str.contains('Internships')]
texas_am_internships.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1166 entries, 15 to 9306
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Titles              1166 non-null   object
 1   URLs                1166 non-null   object
 2   Agency              1166 non-null   object
 3   Location            1166 non-null   object
 4   Job Category        1166 non-null   object
 5   Salary              1089 non-null   object
 6   Start Date          1166 non-null   object
 7   Last Date to Apply  1166 non-null   object
 8   Website             1166 non-null   object
 9   Description         1166 non-null   object
 10  Qualifications      1166 non-null   object
 11  Contact Person      1166 non-null   object
 12  Contact Phone       1166 non-null   object
 13  Contact Email       1166 non-null   object
dtypes: object(14)
memory usage: 136.6+ KB

In [11]:
indeed_opprotunities['Job Type'].iloc[17]

'Full-time, Internship'